<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company table</title>
</head>
<body>

<h1>All companies:</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Registration number</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="company : ${companyList}">
            <td th:text="${company.id}"></td>
            <td th:text="${company.name}"></td>
            <td th:text="${company.registrationNumber}"></td>
        </tr>
    </tbody>

</table>

</body>
</html>